################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day1-Historian_Hysteria/.vs/Day1-Historian_Hysteria/FileContentIndex
