################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day1_HistorianHysteria/.vs/Day1_HistorianHysteria/FileContentIndex
/Day2_Red-NosedReports/.vs/Day2_Red-NosedReports/FileContentIndex
