################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day1_HistorianHysteria/.vs/Day1_HistorianHysteria/FileContentIndex
